In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pathlib

In [26]:
yield_data = list(pathlib.Path('Yield_Data').glob('*'))
yield_data.sort()
yield_data

[PosixPath('Yield_Data/Yield_data_16_17.xls'),
 PosixPath('Yield_Data/Yield_data_17_18.xls'),
 PosixPath('Yield_Data/Yield_data_18_19.xls'),
 PosixPath('Yield_Data/Yield_data_19_20.xls'),
 PosixPath('Yield_Data/Yield_data_20_21.xls')]

In [27]:
df1 = pd.read_excel(yield_data[0])
df2 = pd.read_excel(yield_data[1])
df3 = pd.read_excel(yield_data[2])
df4 = pd.read_excel(yield_data[3])
df5 = pd.read_excel(yield_data[4])

In [41]:
df3 = pd.read_excel(yield_data[2])

In [52]:
df5.columns

Index(['District Name', 'Potato Area', 'Potato Yield', 'Potato Prod',
       'Tomato Area', 'Tomato Yield', 'Tomato Prod', 'Tomato_b_Area',
       'Tomato_b_Yield', 'Tomato_b_prod', 'Radish Area', 'Radish Yield',
       'Radish Prod', 'Carrot Area', 'Carrot Yield', 'Carrot Prod',
       'Cabbage Area', 'Cabbage Yield', 'Cabbage Prod', 'Cauliflower Area',
       'Cauliflower Yield', 'Cauliflower Prod', 'Year'],
      dtype='object')

In [54]:
df5.drop( [ 'Potato Area',  'Potato Prod',
       'Tomato Area','Tomato Prod', 'Tomato_b_Area',
        'Tomato_b_prod', 'Radish Area', 
       'Radish Prod', 'Carrot Area',  'Carrot Prod',
       'Cabbage Area',  'Cabbage Prod', 'Cauliflower Area',
        'Cauliflower Prod', 'Year'], axis=1, inplace=True)

In [55]:
df5.head()

,District Name,Potato Yield,Tomato Yield,Tomato_b_Yield,Radish Yield,Carrot Yield,Cabbage Yield,Cauliflower Yield
0,Panchkula,27.767956,25.505618,62.500000,24.441341,7.429907,13.846154,11.172566
1,Ambala,26.516343,28.413187,178.000000,27.694444,23.439901,16.991304,16.788321
2,Yamuna Nagar,27.419355,33.016529,60.576923,14.146377,32.500000,28.749727,19.032492
3,Kurukshetra,28.976471,23.642105,0.000000,15.309091,14.545455,13.273585,17.268421
4,Kaithal,26.886792,27.097561,70.000000,18.415094,17.925926,19.245283,22.333333

In [78]:
df3.columns

Index(['District Name', 'Potato_Yield', 'Onion_Yield', 'Toamto Yield ',
       'Tomato_b_Yield', 'Radish_Yield', 'Carrot_Yield', 'Cabbage_Yield',
       'Cauliflower_Yield', 'Year'],
      dtype='object')

In [79]:
df3.rename(columns={'Toamto Yield ' : 'Tomato_Yield'}, inplace=True)

In [68]:
df5.columns

Index(['District Name', 'Potato_Yield', 'Tomato_Yield', 'Tomato_b_Yield',
       'Radish_Yield', 'Carrot_Yield', 'Cabbage_Yield', 'Cauliflower_Yield'],
      dtype='object')

In [70]:
df1['Year'] = 2017

In [83]:
df1.head()

,District Name,Potato_Yield,Onion_Yield,Tomato_Yield,Tomato_b_Yield,Radish_Yield,Carrot_Yield,Cabbage_Yield,Cauliflower_Yield,Year
0,Panchkula,21.734554,21.292740,20.854545,47.5,15.470019,15.912195,17.704918,17.011887,2017
1,Ambala,23.558722,22.081374,29.275152,49.0,12.461162,15.516484,12.717456,13.800344,2017
2,Yamuna Nagar,20.878521,14.234483,27.277778,NaN,13.782979,14.434783,21.643836,15.204276,2017
3,Kurukshetra,26.653450,25.454348,5.989583,40.0,8.791667,12.572816,10.935593,14.972897,2017
4,Kaithal,24.989293,28.129371,15.764103,70.0,15.088889,14.652406,17.448571,15.392670,2017

In [85]:
df5.head()

,District Name,Potato_Yield,Tomato_Yield,Tomato_b_Yield,Radish_Yield,Carrot_Yield,Cabbage_Yield,Cauliflower_Yield,Year
0,Panchkula,27.767956,25.505618,62.500000,24.441341,7.429907,13.846154,11.172566,2021
1,Ambala,26.516343,28.413187,178.000000,27.694444,23.439901,16.991304,16.788321,2021
2,Yamuna Nagar,27.419355,33.016529,60.576923,14.146377,32.500000,28.749727,19.032492,2021
3,Kurukshetra,28.976471,23.642105,0.000000,15.309091,14.545455,13.273585,17.268421,2021
4,Kaithal,26.886792,27.097561,70.000000,18.415094,17.925926,19.245283,22.333333,2021

In [86]:
result = pd.concat([df1,df2,df3,df4,df5], axis=0)

In [87]:
result.columns

Index(['District Name', 'Potato_Yield', 'Onion_Yield', 'Tomato_Yield',
       'Tomato_b_Yield', 'Radish_Yield', 'Carrot_Yield', 'Cabbage_Yield',
       'Cauliflower_Yield', 'Year'],
      dtype='object')

In [94]:
result.drop(['Onion_Yield'], inplace=True, axis=1)

In [95]:
result.to_csv("yield_merged.csv")